
.about{
    margin-bottom: 0px;
    width: 100%;
    display:flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    background-color:cadetblue;
    color:antiquewhite;
}

.header{
text-align:left;
  
  padding: 10px 10px;
}

.para{
  text-align:left;
  font-size: 20px;
  padding: 25px 25px;
  margin: 10px 10px;
 }

.contact{
    margin-top: 0px;
    background-color: black;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;

    
}
.quick-link{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.quicklink-item{
    margin: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
}
.quicklink-item:hover{
    color: chocolate;
    text-decoration: underline;
}


.contact-items:hover{
    color:red;
}

.socialmedia{
    margin: 20px;
    display: flex;
   flex-direction: column;
    text-align: center;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icons-item{
    height: 40px;
    width: 50px;
    margin: 10px;
    background-color: antiquewhite;
}
.icons-item:hover{
    opacity: 0.5;
    transform: scaleX(0.5);
    /* transform: rotate(180deg); */
  
 }